:root {
  --font-color-main: black;
  --forest-green: rgb(23, 92, 23);
  --light-brown: #bc9246;
  --lightest-brown: rgba(197, 163, 99, 0.4);
  --normal-grey: #8892b0;
  --light-grey: #a8b2d1;
  --lightest-grey: #ccd6f6;
  --main-grey: rgba(0, 0, 0, 0.58);
  --deep-green: #13301f;
  --border-grey: rgba(0, 0, 0, 0.1);
}

/* Global css */

* {
  color: var(--font-color-main);
  font-family: "Playfair Display", serif;
  line-height: 1.5rem;
  letter-spacing: -0.01em;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  margin: 0;
  position: relative;
}

/* HEADER */

#header {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  box-shadow: 0px 0px 4px 0px grey;
}

.header-left {
  display: flex;
  align-items: center;
}

.header__logo {
  display: Flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.fa-republican {
  font-size: 40px;
  display: inline-block;
  color: var(--light-brown);
}

.header__nav {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__nav li {
  padding: 40px 0px;
  cursor: pointer;
}

.header__nav li:not(li:first-child) {
  margin-left: 30px;
}

.header__nav li:hover a {
  color: var(--light-brown);
}

.header__nav li a {
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav li a {
  list-style: none;
  text-decoration: none;
}

.find-store {
  margin-right: 30px;
  display: flex;
  cursor: pointer;
  padding: 4px 8px;
}

.find-store:hover i,
.find-store:hover span {
  color: var(--light-brown);
}

.fa-map-marker-alt {
  font-size: 20px;
  margin-right: 12px;
}

.login-btn {
  margin-left: 10px;
  background-color: black;
  color: #fff;
}

.signIn-btn {
  border: 1px solid black;
}

.signIn-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* SECTION */
.section {
  max-width: 1440px;
  text-align: center;
  box-sizing: border-box;
  margin: 0px auto;
}

.section-layout {
  background-color: var(--deep-green);
  margin-bottom: 30px;
  box-sizing: border-box;
}

.section-text {
  text-align: center;
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.btn {
  letter-spacing: 1px;
  padding: 6px 20px;
  border-radius: 20px;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  border: 1px solid black;
}

.section-title {
  font-weight: 700;
  font-size: 2.3rem;
  letter-spacing: 20px;
  color: #ffffff;
}

.section-description {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.section-description h3 {
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 4px;
}

.section-title,
.section-description h3,
.section-btn {
  color: #ffffff;
}

.section-btn {
  border: 1px solid #ffffff;
  margin: 0 auto;
}

.section-btn:hover {
  background-color: rgba(245, 245, 245, 0.397);
}

.section-image-container {
  width: 50%;
  margin: 35px;
  overflow: hidden;
}

/* HOME */

#home {
  height: calc(100vh - 106px);
  width: 100%;
  position: relative;
}

.home-text {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-weight: 600;
  text-align: center;
}

.home-title {
  font-size: 72px;
  font-weight: 400;
  letter-spacing: 1.1rem;
}

.home-subtitle {
  font-size: 24px;
  margin-top: 40px;
}

button {
  all: unset;
  cursor: pointer;
}

/* ABOUT */

#about {
  width: 100%;
  margin: 0px auto;
  height: 600px;
  position: relative;
  padding: 40px 0px;
}

.image-slider {
  height: 100%;
}

.image-wrapper {
  height: 100%;
  position: relative;
}

.about-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  transform: translateX(-50%);
  box-shadow: 4px 4px 10px 2px black;
}

.show {
  display: block;
}

.controller {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
}

.slide-btn {
  position: absolute;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
  border: 3px solid var(--deep-green);
  background-color: white;
}

.slide-btn i {
  color: var(--deep-green);
  font-size: 22px;
}

.prev {
  left: 20%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.next {
  right: 20%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.slide-btn:hover {
  background-color: var(--deep-green);
  transform: scale(1.1);
}

.slide-btn:hover i {
  color: white;
}

.slider-dot-control {
  width: 120px;
  padding: 30px 0px;
  margin: 0 auto;
}

.dot {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 4px;
  background-color: #bbb;
  cursor: pointer;
  padding: 2px;
}

.dot:hover {
  background-color: #717171;
}

.active {
  background-color: #717171;
}

/* COFFEE */

#coffee {
  margin-top: 70px;
  display: Flex;
  justify-content: space-between;
  height: 70vh;
}

.brown-latte {
  background: url("/images/brown-latte.JPG");
}

.bakery-image {
  background: url("/images/bakery-main.jpeg");
}

.section-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.section-image:hover {
  filter: grayscale(0);
  transform: scale(1.04);
}

/* BAKERY */

#bakery {
  background-color: var(--deep-green);
  display: flex;
  justify-content: space-between;
  height: 70vh;
}

.bakery-right {
  width: 50%;
}

/* COUPON */

#coupon {
  height: 70vh;
  background-color: var(--deep-green);
  display: flex;
  justify-content: space-between;
}

.coupon-image {
  background: url("/images/coupon-main.jpeg");
}

.coupon-title {
  display: inline-block;
  line-height: 3.5rem;
  margin-top: 0px;
  letter-spacing: 0.7rem;
}

/* CREW */

#crew {
  height: 55vh;
  background-color: var(--light-brown);
  display: Flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-bottom: 30px;
}

.crew-image-container {
  display: flex;
  position: relative;
  overflow: visible;
  width: 50%;
  margin: 35px;
}

.crew-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.crew-image:nth-child(1) {
  width: 30%;
  left: 10%;
}

.crew-image:nth-child(2) {
  width: 30%;
  right: 10%;
}

.crew-image:nth-child(3) {
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 36%;
  z-index: 100;
}

.crew-image img {
  width: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 10px 15px var(--border-grey);
}

/* FOOTER */

#footer {
  padding: 35px 20px;
}

.footer-top {
  border-top: 1px solid var(--normal-grey);
  border-bottom: 1px solid var(--normal-grey);
  padding: 30px 40px;
  display: Flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
}

.footer-metainfo {
  display: Flex;
  align-items: center;
}

.footer-metainfo::after {
  content: "";
  display: block;
  width: 8px;
  height: 1px;
  background-color: black;
  margin-left: 15px;
}

.footer-metainfo h3 {
  text-align: center;
  width: 90px;
  margin: 0;
  margin-right: 50px;
}

.footer-metainfo a {
  font-size: 14px;
  padding: 2px 4px;
}

.footer-metainfo a:not(a:last-child) {
  margin-right: 30px;
}

.footer-metainfo a:after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--deep-green);
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 0.3s ease-in-out;
}

.footer-metainfo a:hover::after {
  transform: scaleX(1);
}

.footer-bottom {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.footer-bottom i {
  font-size: 32px;
  cursor: pointer;
  margin-right: 20px;
}

.footer-bottom span {
  color: grey;
  font-size: 14px;
}
