<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script
      src="https://kit.fontawesome.com/9cd36ea70d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/home.css" />
    <script defer src="js/main.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header id="header" class="section">
      <div class="header-left">
        <a class="header__logo" href="#">
          <i class="fas fa-republican"></i>
        </a>

        <ul class="header__nav">
          <li class="header__menu">
            <a href="./menus.html">Menu</a>
          </li>
          <li class="header__photo">
            <a href="#">Photo</a>
          </li>
          <li class="header__info">
            <a href="#">About</a>
          </li>
        </ul>
      </div>
      <div class="header-right">
        <div class="find-store">
          <i class="fas fa-map-marker-alt"></i><span>Find a store</span>
        </div>
        <button class="btn signIn-btn" value="signIn">Sign in</button>
        <button class="btn login-btn" value="logIn">Log in</button>
      </div>
    </header>

        <!-- Home-->
    <section id="home" class="section">
        <div class="home-text">
          <h1 class="home-title">ELEPHANT CAFE</h2>
          <div class="home-subtitle">
            Enjoy delicious coffee with handmade bakery.
          </div>
        </div>
    </section>


    <!-- About -->
    <section id="about" class="section">
      <div class="image-slider">
        <div class="image-wrapper">
          <img class="about-bg show" src="/images/about-bg2.jpeg">
          <img class="about-bg" src="/images/about-bg3.jpeg">
          <img class="about-bg" src="/images/about-bg4.jpeg">
          <img class="about-bg" src="/images/about-bg5.jpeg">
          <img class="about-bg" src="/images/about-bg6.jpeg">
        </div>
      </div>

      <div class="controller">
        <div class="prev slide-btn"><i class="fas fa-chevron-left"></i></div>
        <div class="next slide-btn"><i class="fas fa-chevron-right"></i></div>
      </div>

        <div class="slider-dot-control">
          <span class="dot active"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
  </div>
    </section>

        <!-- coffee -->
    <section id="coffee" class="section section-layout">
      <div class="section-text">
        <h1 class="section-title">Coffee</h1>
        <div class="section-description">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum laboriosam voluptatibus laborum sequi!</h3>
        </div>
        <button class="btn section-btn">More coffee</button>
      </div>
      <div class="section-image-container">
        <div class="section-image brown-latte"></div>
      </div>
    </section>


    <!-- Bakery -->
    <section id="bakery" class="section section-layout">
      <div class="section-image-container">
        <div class="section-image bakery-image"></div>
      </div>
      <div class="section-text">
          <h1 class="section-title">Bakery</h1>
        <div class="section-description">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum laboriosam voluptatibus laborum sequi!</h3>
        </div>
        <button class="btn section-btn">More bakery</button>
      </div>
    </section>
  </body>
</html>
